.cart-product {
  display: grid;
  grid-template-areas:
    'img title del'
    'img size size'
    'img quantity price';
  grid-template-columns: 34.28% 30.14% auto;
  grid-template-rows: auto auto 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  align-items: center;
}

.cart-product_hidden {
  display: none;
}

.cart-product__link {
  position: relative;
  grid-area: img;
  align-self: center;
  height: 0;
  padding-bottom: 72.91%;
}

.cart-product__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  &_no-photo {
    object-fit: initial;
  }

  &:hover,
  &.focus-visible:focus {
    transform: scale(1.1);
    transition: transform 0.2s ease-out;
  }
}

.cart-product__title {
  display: block;
  grid-area: title;
  font-size: var(--font-size-text);
  font-weight: 900;

  @media (width > 768px) {
    font-size: var(--font-size-text-m);
  }
}

.cart-product__remove {
  grid-area: del;
  margin-left: auto;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: var(--color-transparent);
  background-repeat: no-repeat;
  background-size: 12px;
  background-image: url('/themes/lovata-shopaholic-sneakers/assets/img/icon/remove.svg');
  background-position: center;
  opacity: 0.5;
  align-self: flex-start;

  @media (width > 768px) {
    width: auto;
    background-image: none;
    border-bottom: 2px dashed var(--color-primary-dark);

    &:hover,
    &.focus-visible:focus {
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }
  }
}

.cart-product__remove-text {
  font-size: var(--font-size-zero);

  @media (width > 768px) {
    font-size: var(--font-size-text-m);
    color: var(--color-primary-dark);
    font-weight: 500;
  }
}

.cart-product__param {
  grid-area: size;
  color: var(--color-primary-dark);
  font-size: var(--font-size-text);
  font-weight: 600;

  @media (width > 768px) {
    font-size: var(--font-size-text-m);
  }
}

.cart-product__quantity {
  grid-area: quantity;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80px;
  align-self: flex-end;
}

.cart-product__quantity-label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border-width: 0;
  height: 1px;
  width: 1px;
  margin-left: -1px;
}

.cart-product__quantity-input {
  box-sizing: border-box;
  position: relative;
  background-color: var(--color-primary-light);
  color: var(--color-default);
  font-size: var(--font-size-text);
  border: none;
  outline: none;
  text-align: center;
  height: 20px;
  width: 40px;
  padding: 2px;
  font-weight: 600;

  &:disabled {
    background-color: var(--color-primary-light);
  }

  @media (width > 768px) {
    width: 29px;
    height: 25px;
  }
}

.cart-product__change-btn {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: var(--color-transparent);
  border: none;
  color: var(--color-primary-dark);
  font-weight: 600;

  &:hover,
  &.focus-visible:focus {
    cursor: pointer;
    color: var(--color-default);
    transition: opacity 0.2s ease-out;
  }
}

.cart-product__price {
  grid-area: price;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.cart-product__price-currency {
  font-size: var(--font-size-text-s);
  color: var(--color-primary-dark);
  font-weight: 600;
  padding-right: 2px;

  &_sale {
    color: var(--color-caution);
  }

  @media (width > 768px) {
    font-size: var(--font-size-text-m);
    padding-bottom: 2px;
  }
}

.cart-product__price-value-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-product__price-value {
  font-size: var(--font-size-text);
  color: var(--color-primary-dark);
  font-weight: 600;

  @media (width > 768px) {
    font-size: var(--font-size-text-l);
  }
}

.cart-product__price-value_old {
  font-size: var(--font-size-text);
  color: var(--color-primary);
  text-decoration: line-through;
  font-weight: 600;

  @media (width > 768px) {
    font-size: var(--font-size-text-ml);
  }
}

.cart-product__price-value_old:not(._shopaholic-hide-old-price) + .cart-product__price-value {
  color: var(--color-caution);
}

.cart-product__price-value_old._shopaholic-hide-old-price {
  display: none;
}

.cart-product__price-description {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
