.review-card {
  padding: 35px 0;
  border-bottom: 2px solid var(--color-input);

  @media (width > 768px) {
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 23px;
    grid-template-columns: 1fr 340px;
    grid-column-gap: 50px;
  }
}

.review-card__author {
  display: block;
  margin-bottom: 15px;
  color: var(--color-default);
  font-size: var(--font-size-text-l);
  font-weight: 600;

  @media (width > 768px) {
    margin-bottom: 20px;
  }
}

.review-card__rating {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  @media (width > 768px) {
    margin-bottom: 0;
  }
}

.review-card__text {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--color-primary-dark);
  font-size: var(--font-size-text-m);
  font-weight: 600;
  line-height: var(--line-height-normal);

  @media (width > 768px) {
    margin-bottom: 16px;
  }
}

.review-card__time {
  font-size: var(--font-size-text-m);
  color: var(--color-primary);
}
