.catalog-list {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 26px 0 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 20px;
  list-style: none;

  @media (width > 768px) {
    padding: 15px 0 75px;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-column-gap: 25px;
    grid-row-gap: 35px;
  }
}

.catalog-item__link {
  text-decoration: none;
  color: var(--color-default);
}

.catalog-list__empty-message {
  font-size: var(--font-size-text-xl);
  display: block;
  text-align: center;
  margin: 30px 0;
  font-weight: 800;

  @media (width > 768px) {
    margin: 60px 0;
  }
}
