.webkit-scroll {
  scrollbar-color: var(--color-primary) var(--color-white); /* Firefox styling */
  scrollbar-width: thin;
  appearance: none;

  &::-webkit-scrollbar-track {
    background-color: var(--color-primary-light);
    border-radius: var(--border-radius-10);
  }

  &::-webkit-scrollbar {
    background-color: var(--color-primary-light);
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: var(--border-radius-10);
  }
}

.webkit-scroll_select {
  &::-webkit-scrollbar-track {
    background-color: var(--color-input);
    border-radius: var(--border-radius-0);
  }

  &::-webkit-scrollbar {
    background-color: var(--color-input);
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-default);
  }
}
