.news-page {
  box-sizing: border-box;
  grid-column: 2 / -2;
  width: 100%;
  padding: 0 20px;

  @media (width > 768px) {
    position: relative;
    grid-column: 6 /  span 13;
    padding: 0;
  }
}

.news-page__wrapper {
  position: relative;
}

.news-page__title {
  grid-column: 2 / -2;
  margin: 10px 0 0;
  font-size: var(--font-size-title-l);
  font-weight: 900;

  @media (width > 768px) {
    padding: 0;
    margin-top: 20px;
    text-align: left;
  }
}

.news-page__date {
  display: inline-block;
  color: var(--color-primary);
  font-size: var(--font-size-text-m);
  font-weight: 600;
  margin-bottom: 20px;

  @media (width > 768px) {
    margin-bottom: 30px;
  }
}

.news-page__share {
  margin-bottom: 28px;

  @media (width > 768px) {
    flex-direction: column;
    position: absolute;
    left: -86px;
    top: 5px;
  }
}

.new-page__wysiwyg {
  margin-bottom: 54px;

  @media (width > 768px) {
    margin-bottom: 94px;
  }
}

.new-page__heading {
  grid-column: 2 / -2;
  padding: 0 20px;

  @media (width > 768px) {
    padding: 0;
    grid-column: 4 / -4;
  }
}
