{% set arMenuList = SideMenuLeft.menuItems %}
<button class="drawer__btn js-drawer-btn" aria-label="Open sidebar menu"></button>
<nav class="drawer-nav webkit-scroll" aria-label="Sidebar navigation">
    <button type="button" class="drawer-nav__btn js-drawer-btn" aria-label="Open close menu"></button>
    <div class="drawer-nav__wrapper drawer-nav__wrapper_hidden">
        <div class="drawer-nav__inner" aria-labelledby="sidebar-category-nav">
            <button type="button" class="header-nav__title" id="sidebar-category-nav">Catalog</button>
            {% partial 'header/header-nav/header-nav-list'
                obCategoryList=obCategoryList
                wrapperClass='drawer-nav__category'
                itemClass='drawer-nav__category-item'
                linkClass='drawer-nav__category-link' %}
        </div>
        {% if arMenuList is not empty %}
            <ul class="drawer-nav__list" role="menubar">
                {% for arItemMenu in arMenuList if not arItemMenu.viewBag.isHidden %}
                    <li class="drawer-nav__item" role="menuitem">
                        <a {% if arItemMenu.url is not empty %}href="{{ arItemMenu.url }}"{% endif %} class="drawer-nav__link">{{ arItemMenu.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</nav>
