.news-slider {
  grid-column: 1 / -1;
  padding: 52px 20px 0;
  position: relative;

  @media (width > 768px) {
    display: flex;
    flex-wrap: wrap;
    grid-column: 4 / -4;
    padding: 108px 0 0;
  }
}

.news-slider__slider {
  position: relative;
  width: 100%;
  flex-shrink: 1;
}

.news-slider__slide {
  height: 100%;
  width: 50%;
  margin-right: 15px;

  @media (width > 768px) {
    width: 300px;
    margin-right: 45px;
  }
}

.news-slider__container {
  max-width: 100%;

  @media (width > 768px) {
    padding: 4px;
  }
}

.news-slider__wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
}

.news-slider__tablist {
  display: flex;
  margin-bottom: 30px;
  margin-top: 0;
  padding-left: 0;
  list-style: none;

  @media (width > 768px) {
    margin-left: auto;
    margin-bottom: 46px;
  }
}

.news-slider__tabitem {
  display: flex;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }

  @media (width > 768px) {
    margin-right: 50px;
  }
}

.news-slider__btn {
  border: none;
  background-color: var(--color-transparent);
  padding: 0;
  appearance: none;
  font-weight: 600;
  font-size: var(--font-size-text);
  color: var(--color-primary-dark);
  font-family: var(--font-family-futura);

  @media (width > 768px) {
    font-size: var(--font-size-text-m);

    &:hover,
    &.focus-visible:focus {
      cursor: pointer;
      color: var(--color-default);
      transition: color 0.2s ease-in;
    }
  }
}

.news-slider__btn_active {
  color: var(--color-default);
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 11px;
    height: 2px;
    background-color: var(--color-default);
    bottom: -5px;
    left: 0;
  }

  @media (width > 768px) {
    &::after {
      content: '';
      bottom: 4px;
    }
  }
}

.news-slider__link {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.news-slider__title-link {
  position: relative;
  display: inline-block;
  margin-bottom: 37px;
  text-decoration: none;
  padding-right: 38px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 13px;
    right: 0;
    height: 2px;
    width: 28px;
    background-color: var(--color-default);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    border-top: 2px solid var(--color-default);
    border-left: 2px solid var(--color-default);
    right: 0;
    bottom: 9px;
    transform: rotate(135deg);
  }

  &.focus-visible:focus {
    outline: 2px solid var(--color-outline);
  }

  @media (width > 768px) {
    padding-right: 65px;
    margin-bottom: 67px;

    &::after {
      content: '';
      width: 45px;
      height: 3px;
      bottom: 18px;
    }

    &::before {
      width: 12px;
      height: 12px;
      border-top: 3px solid var(--color-default);
      border-left: 3px solid var(--color-default);
      bottom: 12px;
      transform: rotate(135deg);
    }

    &:hover,
    &.focus-visible:focus {
      cursor: pointer;
      padding-right: 72px;
      transition: padding-right 0.2s ease-out;
    }
  }
}

.news-slider__title {
  margin-bottom: 0;
}

.news-slider__nav {
  width: 44px;
  height: 44px;
  position: relative;
  z-index: 2;

  &.focus-visible:focus {
    outline: none;
  }

  &_disable {
    opacity: 0.3;
  }

  &.swiper-button-lock {
    display: none;
  }

  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    border-top: 2px solid var(--color-default);
    border-left: 2px solid var(--color-default);
  }

  @media (width > 768px) {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 65px);
    background-color: var(--color-primary-light);
    z-index: 2;
    transition: background-color 0.2s ease-out;

    &.focus-visible:focus {
      box-shadow: var(--shadow-outline);
    }

    &::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      left: calc(50% - 4px);
      top: calc(50% - 4px);
      border-top: 2px solid var(--color-default);
      border-left: 2px solid var(--color-default);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-primary-light-hovered);
      transition: background-color 0.2s ease-in;
    }
  }
}

.news-slider__nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;

  @media (width > 768px) {
    margin-top: 0;
    display: block;
  }
}

.news-slider__nav_prev {
  &::after {
    transform: rotate(-45deg);
  }

  @media (width > 768px) {
    padding-right: 0;
    left: -98px;
  }
}

.news-slider__nav_next {
  &::after {
    transform: rotate(135deg);
  }

  @media (width > 768px) {
    right: -98px;
  }
}

.news-slider__nav_disabled {
  display: none;
}

.news-slider__pagination {
  display: flex;
  width: 34px;
  color: var(--color-primary);
  font-size: var(--font-size-text-xl);
  font-family: var(--font-family-futura);
  margin: 0;

  &_disable {
    display: none;
  }

  @media (width > 768px) {
    display: none;
  }
}

.news-slider__pagination .swiper-pagination-current {
  font-weight: 900;
  color: var(--color-default);
  padding-right: 2px;
}

.news-slider__pagination .swiper-pagination-total {
  font-weight: 600;
}

.news-slider__preloader {
  top: calc(50% - 25px + 50px);
  left: calc(50% - 25px);
  z-index: 100;

  &::after {
    width: 50px;
    height: 50px;
  }
}
