/* Form */
.subscribe {
  grid-column: 1 / -1;
  padding: 0 20px 52px;
}
@media (min-width: 769px) {
.subscribe {
    display: grid;
    grid-column: 4 / -4;
    grid-template-areas:
      'title title'
      'descr form';
    grid-template-columns: 270px 450px;
    grid-column-gap: 80px;
    padding: 0 0 108px
}
  }
@media (min-width: 769px) {
.section-title.subscribe__title {
    grid-area: title;
    margin-bottom: 67px
}
  }
.subscribe__descr {
  margin: 0 0 20px;
  color: var(--color-primary-dark);
  line-height: var(--line-height-normal);
  font-size: var(--font-size-text-m);
  text-align: left;
}
@media (min-width: 769px) {
.subscribe__descr {
    grid-area: descr;
    margin: 0
}
  }
.subscribe__form {
  position: relative;
}
@media (min-width: 769px) {
.subscribe__form {
    padding-top: 6px;
    display: flex;
    align-items: flex-start;
    grid-area: form
}
  }
.subscribe__input {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
.subscribe__input {
    flex-basis: 280px;
    margin-right: 20px;
    margin-bottom: 0
}
  }
.subscribe__submit {
  width: 100%;
}
@media (min-width: 769px) {
.subscribe__submit {
    flex-basis: 150px
}
  }
@media (min-width: 769px) {
.subscribe-form__error {
    position: absolute;
    top: 100%
}
  }
.subscribe__success {
  opacity: 0;
  position: absolute;
  bottom: calc(100% + 18px);
  visibility: hidden;
  transition: opacity 0.2s ease-in;
}
.subscribe__success_visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-out;
  }
.subscribe__preloader {
  left: calc(50% - 15px);
  top: 3px;
}
@media (min-width: 769px) {
.subscribe__preloader {
    left: calc(140px - 15px);
    top: calc(50% - 15px)
}
  }
/* Content */
.main-slider {
  position: relative;
  grid-column: 2 / -2;
  min-height: 400px;
  height: calc(100vh - 56px);
  max-width: 100%;
  width: 100%;
}
@media (min-width: 769px) {
.main-slider {
    max-height: 570px;
    min-height: 570px
}
  }
.main-slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-slider__link {
  display: block;
  width: 100%;
  height: 100%;
}
.main-slider__img-container {
  display: block;
  width: 100%;
  height: 100%;
}
.main-slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-slider__btn-wrap {
  position: absolute;
  display: flex;
  width: auto;
  justify-content: space-between;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
@media (min-width: 769px) {
.main-slider__btn-wrap {
    right: 10.94vw;
    left: unset;
    bottom: 0;
    width: 200px;
    height: 72px
}
  }
.main-slider__btn {
  min-width: 44px;
  height: 44px;
  position: relative;
  z-index: 2;
}
.main-slider__btn.focus-visible:focus {
    outline: none;
  }
.main-slider__btn::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 22px;
    top: calc(50% - 5px);
    border-top: 2px solid var(--color-default);
    border-left: 2px solid var(--color-default);
  }
@media (min-width: 769px) {
.main-slider__btn {
    width: 100px;
    height: 72px;
    background-color: var(--color-white)
}

    .main-slider__btn.focus-visible:focus {
      box-shadow: var(--shadow-outline);
    }

    .main-slider__btn::after {
      left: 60px;
      border-color: var(--color-default);
    }

    .main-slider__btn::before {
      content: '';
      position: absolute;
      top: 50%;
      width: 0;
      background-color: var(--color-default);
    }
  }
.main-slider__btn_prev::after {
    transform: rotate(-45deg);
  }
@media (min-width: 769px) {
    .main-slider__btn_prev::before {
      left: 60px;
    }
  }
@media (min-width: 769px) {
.main-slider__btn_prev:hover,
.main-slider__btn_prev:focus {
    cursor: pointer
}

    .main-slider__btn_prev:hover::before, .main-slider__btn_prev:focus::before {
      height: 2px;
      width: 33px;
      transform: translateX(-21px);
      transition: width 0.2s ease-out, transform 0.2s ease-out;
    }

    .main-slider__btn_prev:hover::after, .main-slider__btn_prev:focus::after {
      transform: translateX(-21px) rotate(-45deg);
      transition: transform 0.2s ease-out;
    }
  }
.main-slider__btn_next::after {
    right: 22px;
    left: unset;
    transform: rotate(135deg);
  }
@media (min-width: 769px) {
    .main-slider__btn_next::after {
      right: 60px;
    }

    .main-slider__btn_next::before {
      right: 60px;
    }
  }
@media (min-width: 769px) {
.main-slider__btn_next:hover,
.main-slider__btn_next:focus {
    cursor: pointer
}

    .main-slider__btn_next:hover::before, .main-slider__btn_next:focus::before {
      height: 2px;
      width: 33px;
      transform: translateX(11px);
      transition: width 0.2s ease-out, transform 0.2s ease-out;
    }

    .main-slider__btn_next:hover::after, .main-slider__btn_next:focus::after {
      transform: translateX(11px) rotate(135deg);
      transition: transform 0.2s ease-out;
    }
  }
.main-slider__btn_disable {
  display: none;
}
.main-slider__pagination {
  display: flex;
  align-items: center;
  z-index: 2;
  width: auto;
  color: var(--color-primary);
  font-size: var(--font-size-text-xl);
  font-family: var(--font-family-futura);
}
.main-slider__pagination_disable {
    display: none;
  }
@media (min-width: 769px) {
.main-slider__pagination {
    display: none
}
  }
.main-slider__pagination .swiper-pagination-current {
  font-weight: 900;
  color: var(--color-default);
  padding-right: 2px;
}
.main-slider__pagination .swiper-pagination-total {
  font-weight: 600;
}
.main-slider__preloader {
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}
.main-slider__preloader::after {
    width: 50px;
    height: 50px;
  }
.main-slider__img-container:not(.lazy-finish) + .main-slider__preloader {
  display: block;
}
.big-slider {
  box-sizing: border-box;
  grid-column: 2 / -2;
  min-height: 262px;
  width: calc(100% - 40px);
  margin-top: 52px;
}
@media (min-width: 769px) {
.big-slider {
    height: 510px;
    width: 100%;
    margin-top: 108px
}
  }
.big-slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.big-slider__link {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 93.57%;
}
@media (min-width: 769px) {
.big-slider__link {
    height: 510px;
    padding-bottom: 0
}
  }
.big-slider__img-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.big-slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.big-slider__btn-wrap {
  position: absolute;
  display: flex;
  width: 122px;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  z-index: 10;
}
@media (min-width: 769px) {
.big-slider__btn-wrap {
    left: 525px;
    bottom: 0;
    width: 200px;
    height: 72px
}
  }
.big-slider__btn {
  width: 61px;
  height: 34px;
  background-color: var(--color-white);
  position: relative;
  z-index: 2;
}
.big-slider__btn.focus-visible:focus {
    outline: none;
  }
.big-slider__btn::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 30px;
    top: calc(50% - 5px);
    border-top: 2px solid var(--color-default);
    border-left: 2px solid var(--color-default);
  }
@media (min-width: 769px) {
.big-slider__btn {
    width: 100px;
    height: 72px;
    background-color: var(--color-white)
}

    .big-slider__btn::after {
      left: 60px;
    }

    .big-slider__btn::before {
      content: '';
      position: absolute;
      top: 50%;
      width: 0;
      background-color: var(--color-default);
    }

    .big-slider__btn.focus-visible:focus {
      box-shadow: var(--shadow-outline);
    }
  }
.big-slider__btn_prev::after {
    transform: rotate(-45deg);
  }
@media (min-width: 769px) {
.big-slider__btn_prev {
    margin-left: 0
}

    .big-slider__btn_prev::before {
      left: 60px;
    }
  }
@media (min-width: 769px) {
.big-slider__btn_prev:hover,
.big-slider__btn_prev:focus {
    cursor: pointer
}

    .big-slider__btn_prev:hover::before, .big-slider__btn_prev:focus::before {
      height: 2px;
      width: 33px;
      transform: translateX(-21px);
      transition: width 0.2s ease-out, transform 0.2s ease-out;
    }

    .big-slider__btn_prev:hover::after, .big-slider__btn_prev:focus::after {
      transform: translateX(-21px) rotate(-45deg);
      transition: transform 0.2s ease-out;
    }
  }
.big-slider__btn_next::after {
    left: unset;
    right: 30px;
    transform: rotate(135deg);
  }
@media (min-width: 769px) {
.big-slider__btn_next {
    margin-right: 0
}

    .big-slider__btn_next::after {
      right: 60px;
    }

    .big-slider__btn_next::before {
      right: 60px;
    }
  }
@media (min-width: 769px) {
.big-slider__btn_next:hover,
.big-slider__btn_next:focus {
    cursor: pointer
}

    .big-slider__btn_next:hover::before, .big-slider__btn_next:focus::before {
      height: 2px;
      width: 33px;
      transform: translateX(21px);
      transition: width 0.2s ease-out, transform 0.2s ease-out;
    }

    .big-slider__btn_next:hover::after, .big-slider__btn_next:focus::after {
      transform: translateX(21px) rotate(135deg);
      transition: transform 0.2s ease-out;
    }
  }
.big-slider__pagination {
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: 42px;
  width: 34px;
  left: calc(50% - 17px);
  color: var(--color-primary);
  font-size: var(--font-size-text-xl);
  font-family: var(--font-family-futura);
}
@media (min-width: 769px) {
.big-slider__pagination {
    display: none
}
  }
.big-slider__pagination .swiper-pagination-current {
  font-weight: 900;
  color: var(--color-default);
  padding-right: 2px;
}
.big-slider__pagination .swiper-pagination-total {
  font-weight: 600;
}
.big-slider__preloader {
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}
.big-slider__preloader::after {
    width: 50px;
    height: 50px;
  }
.big-slider__img-container:not(.lazy-finish) + .big-slider__preloader {
  display: block;
}
.brand-slider {
  position: relative;
  grid-column: 1 / -1;
  padding: 52px 20px 50px;
}
@media (min-width: 769px) {
.brand-slider {
    grid-column: 4 / -4;
    padding: 108px 0
}
  }
.brand-slider__slide {
  height: 100%;
  width: calc(50% - 6px);
  margin-right: 12px;
}
@media (min-width: 769px) {
.brand-slider__slide {
    width: 20%;
    margin-right: 67px
}
  }
.brand-slider__container {
  max-width: 100%;
  width: 100%;
  flex-shrink: 1;
}
@media (min-width: 769px) {
.brand-slider__container {
    padding: 4px
}
  }
.brand-slider__wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.brand-slider__link {
  box-sizing: border-box;
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
  max-width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  border: 1px solid var(--color-input);
}
.brand-slider__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.brand-slider__img_no-photo {
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    object-fit: unset;
  }
.brand-slider__title {
  margin-bottom: 33px;
}
@media (min-width: 769px) {
.brand-slider__title {
    margin-bottom: 68px
}
  }
.brand-slider__nav {
  width: 44px;
  height: 44px;
  position: relative;
  z-index: 2;
}
.brand-slider__nav.focus-visible:focus {
    outline: none;
  }
.brand-slider__nav::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    border-top: 2px solid var(--color-default);
    border-left: 2px solid var(--color-default);
  }
@media (min-width: 769px) {
.brand-slider__nav {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% + 25px);
    background-color: var(--color-primary-light);
    z-index: 2;
    transition: background-color 0.2s ease-out
}

    .brand-slider__nav.focus-visible:focus {
      box-shadow: var(--shadow-outline);
    }

    .brand-slider__nav.swiper-button-lock {
      display: none;
    }

    .brand-slider__nav::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      left: calc(50% - 4px);
      top: calc(50% - 4px);
      border-top: 2px solid var(--color-default);
      border-left: 2px solid var(--color-default);
    }

    .brand-slider__nav:hover {
      cursor: pointer;
      background-color: var(--color-primary-light-hovered);
      transition: background-color 0.2s ease-in;
    }
  }
.brand-slider__nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
@media (min-width: 769px) {
.brand-slider__nav-wrapper {
    margin-top: 0;
    display: block
}
  }
.brand-slider__nav_prev {
  padding-right: 10px;
}
.brand-slider__nav_prev::after {
    transform: rotate(-45deg);
  }
@media (min-width: 769px) {
.brand-slider__nav_prev {
    padding-right: 0;
    left: -98px
}
  }
.brand-slider__nav_next::after {
    transform: rotate(135deg);
  }
@media (min-width: 769px) {
.brand-slider__nav_next {
    right: -98px
}
  }
.brand-slider__nav_disable {
  opacity: 0.3;
}
.brand-slider__pagination {
  display: flex;
  width: 34px;
  color: var(--color-primary);
  font-size: var(--font-size-text-xl);
  font-family: var(--font-family-futura);
  margin: 0;
}
.brand-slider__pagination_disable {
    display: none;
  }
@media (min-width: 769px) {
.brand-slider__pagination {
    display: none
}
  }
.brand-slider__pagination .swiper-pagination-current {
  font-weight: 900;
  color: var(--color-default);
  padding-right: 2px;
}
.brand-slider__pagination .swiper-pagination-total {
  font-weight: 600;
}
.brand-slider__img-wrap {
  display: block;
}
.brand-slider__preloader {
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}
.brand-slider__preloader::after {
    width: 50px;
    height: 50px;
  }
.brand-slider__img-wrap:not(.lazy-finish) + .brand-slider__preloader {
  display: block;
}
/* Product */
.two-level-slider {
  grid-column: 1 / -1;
  padding: 52px 20px 0;
  position: relative;
}
@media (min-width: 769px) {
.two-level-slider {
    display: flex;
    flex-wrap: wrap;
    grid-column: 4 / -4;
    padding: 108px 0 0
}
  }
.two-level-slider__slider {
  position: relative;
  width: 100%;
  flex-shrink: 1;
}
.two-level-slider__slide {
  list-style: none;
}
.two-level-slider__container {
  max-width: 100%;
}
@media (min-width: 769px) {
.two-level-slider__container {
    padding: 4px
}
  }
.two-level-slider__wrapper {
  padding: 0;
  margin: 0;
  display: flex;
}
@media (min-width: 769px) {
.two-level-slider__wrapper {
    max-height: 645px
}
  }
.two-level-slider__tablist {
  display: flex;
  margin-bottom: 30px;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}
@media (min-width: 769px) {
.two-level-slider__tablist {
    margin-left: auto;
    margin-bottom: 67px
}
  }
.two-level-slider__tabitem {
  display: flex;
  margin-right: 40px;
}
.two-level-slider__tabitem:last-child {
    margin-right: 0;
  }
@media (min-width: 769px) {
.two-level-slider__tabitem {
    margin-right: 50px
}
  }
.two-level-slider__btn {
  border: none;
  background-color: var(--color-transparent);
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 600;
  font-size: var(--font-size-text);
  color: var(--color-primary-dark);
  font-family: var(--font-family-futura);
}
@media (min-width: 769px) {
.two-level-slider__btn {
    font-size: var(--font-size-text-m)
}

    .two-level-slider__btn:hover,
    .two-level-slider__btn.focus-visible:focus {
      cursor: pointer;
      color: var(--color-default);
      transition: color 0.2s ease-in;
    }
  }
.two-level-slider__btn_active {
  color: var(--color-default);
  position: relative;
}
.two-level-slider__btn_active::after {
    content: '';
    display: block;
    position: absolute;
    width: 11px;
    height: 2px;
    background-color: var(--color-default);
    bottom: -5px;
    left: 0;
  }
@media (min-width: 769px) {
    .two-level-slider__btn_active::after {
      content: '';
      bottom: 4px;
    }
  }
/* stylelint-disable  selector-max-class, selector-max-specificity */
.two-level-slider__link {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.two-level-slider__link.focus-visible:focus {
    outline: none;
  }
.two-level-slider__link.focus-visible:focus .product-card {
      box-shadow: var(--shadow-outline);
    }
/* stylelint-enable */
.two-level-slider__nav {
  width: 44px;
  height: 44px;
  position: relative;
  z-index: 2;
  margin-top: 32px;
}
.two-level-slider__nav_disable {
    opacity: 0.3;
  }
.two-level-slider__nav.swiper-button-lock {
    display: none;
  }
.two-level-slider__nav::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    border-top: 2px solid var(--color-default);
    border-left: 2px solid var(--color-default);
  }
.two-level-slider__nav.focus-visible:focus {
    outline: none;
  }
@media (min-width: 769px) {
.two-level-slider__nav {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 65px);
    background-color: var(--color-primary-light);
    z-index: 2;
    transition: background-color 0.2s ease-out;
    margin-top: 0
}

    .two-level-slider__nav.focus-visible:focus {
      outline: 2px solid var(--color-outline);
    }

    .two-level-slider__nav::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      left: calc(50% - 4px);
      top: calc(50% - 4px);
      border-top: 2px solid var(--color-default);
      border-left: 2px solid var(--color-default);
    }

    .two-level-slider__nav:hover:not(.two-level-slider__nav_disable),
    .two-level-slider__nav:focus:not(.two-level-slider__nav_disable) {
      cursor: pointer;
      background-color: var(--color-primary-light-hovered);
      transition: background-color 0.2s ease-in;
    }

    .two-level-slider__nav_disable {
      opacity: 0.5;
      cursor: default;
    }

    .two-level-slider__nav_disable:hover,
    .two-level-slider__nav_disable:focus {
      background-color: var(--color-primary-light);
    }
  }
.two-level-slider__nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 769px) {
.two-level-slider__nav-wrapper {
    margin-top: 0;
    display: block
}
  }
.two-level-slider__nav_prev::after {
    transform: rotate(-45deg);
  }
@media (min-width: 769px) {
.two-level-slider__nav_prev {
    padding-right: 0;
    left: -98px
}
  }
.two-level-slider__nav_next::after {
    transform: rotate(135deg);
  }
@media (min-width: 769px) {
.two-level-slider__nav_next {
    right: -98px
}
  }
.two-level-slider__pagination {
  display: flex;
  width: 34px;
  color: var(--color-primary);
  font-size: var(--font-size-text-xl);
  font-family: var(--font-family-futura);
  margin: 32px 0 0;
}
.two-level-slider__pagination_disable {
    display: none;
  }
@media (min-width: 769px) {
.two-level-slider__pagination {
    display: none
}
  }
.two-level-slider__pagination .swiper-pagination-current {
  font-weight: 900;
  color: var(--color-default);
  padding-right: 2px;
}
.two-level-slider__pagination .swiper-pagination-total {
  font-weight: 600;
}
.two-level-slider__preloader {
  top: 50%;
  left: calc(50% - 25px);
  z-index: 100;
}
.two-level-slider__preloader::after {
    width: 50px;
    height: 50px;
  }
/* Article */
.news-slider {
  grid-column: 1 / -1;
  padding: 52px 20px 0;
  position: relative;
}
@media (min-width: 769px) {
.news-slider {
    display: flex;
    flex-wrap: wrap;
    grid-column: 4 / -4;
    padding: 108px 0 0
}
  }
.news-slider__slider {
  position: relative;
  width: 100%;
  flex-shrink: 1;
}
.news-slider__slide {
  height: 100%;
  width: 50%;
  margin-right: 15px;
}
@media (min-width: 769px) {
.news-slider__slide {
    width: 300px;
    margin-right: 45px
}
  }
.news-slider__container {
  max-width: 100%;
}
@media (min-width: 769px) {
.news-slider__container {
    padding: 4px
}
  }
.news-slider__wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
}
.news-slider__tablist {
  display: flex;
  margin-bottom: 30px;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}
@media (min-width: 769px) {
.news-slider__tablist {
    margin-left: auto;
    margin-bottom: 46px
}
  }
.news-slider__tabitem {
  display: flex;
  margin-right: 40px;
}
.news-slider__tabitem:last-child {
    margin-right: 0;
  }
@media (min-width: 769px) {
.news-slider__tabitem {
    margin-right: 50px
}
  }
.news-slider__btn {
  border: none;
  background-color: var(--color-transparent);
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 600;
  font-size: var(--font-size-text);
  color: var(--color-primary-dark);
  font-family: var(--font-family-futura);
}
@media (min-width: 769px) {
.news-slider__btn {
    font-size: var(--font-size-text-m)
}

    .news-slider__btn:hover,
    .news-slider__btn.focus-visible:focus {
      cursor: pointer;
      color: var(--color-default);
      transition: color 0.2s ease-in;
    }
  }
.news-slider__btn_active {
  color: var(--color-default);
  position: relative;
}
.news-slider__btn_active::after {
    content: '';
    display: block;
    position: absolute;
    width: 11px;
    height: 2px;
    background-color: var(--color-default);
    bottom: -5px;
    left: 0;
  }
@media (min-width: 769px) {
    .news-slider__btn_active::after {
      content: '';
      bottom: 4px;
    }
  }
.news-slider__link {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.news-slider__title-link {
  position: relative;
  display: inline-block;
  margin-bottom: 37px;
  text-decoration: none;
  padding-right: 38px;
}
.news-slider__title-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 13px;
    right: 0;
    height: 2px;
    width: 28px;
    background-color: var(--color-default);
  }
.news-slider__title-link::before {
    content: '';
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    border-top: 2px solid var(--color-default);
    border-left: 2px solid var(--color-default);
    right: 0;
    bottom: 9px;
    transform: rotate(135deg);
  }
.news-slider__title-link.focus-visible:focus {
    outline: 2px solid var(--color-outline);
  }
@media (min-width: 769px) {
.news-slider__title-link {
    padding-right: 65px;
    margin-bottom: 67px
}

    .news-slider__title-link::after {
      content: '';
      width: 45px;
      height: 3px;
      bottom: 18px;
    }

    .news-slider__title-link::before {
      width: 12px;
      height: 12px;
      border-top: 3px solid var(--color-default);
      border-left: 3px solid var(--color-default);
      bottom: 12px;
      transform: rotate(135deg);
    }

    .news-slider__title-link:hover,
    .news-slider__title-link.focus-visible:focus {
      cursor: pointer;
      padding-right: 72px;
      transition: padding-right 0.2s ease-out;
    }
  }
.news-slider__title {
  margin-bottom: 0;
}
.news-slider__nav {
  width: 44px;
  height: 44px;
  position: relative;
  z-index: 2;
}
.news-slider__nav.focus-visible:focus {
    outline: none;
  }
.news-slider__nav_disable {
    opacity: 0.3;
  }
.news-slider__nav.swiper-button-lock {
    display: none;
  }
.news-slider__nav::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    border-top: 2px solid var(--color-default);
    border-left: 2px solid var(--color-default);
  }
@media (min-width: 769px) {
.news-slider__nav {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 65px);
    background-color: var(--color-primary-light);
    z-index: 2;
    transition: background-color 0.2s ease-out
}

    .news-slider__nav.focus-visible:focus {
      box-shadow: var(--shadow-outline);
    }

    .news-slider__nav::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      left: calc(50% - 4px);
      top: calc(50% - 4px);
      border-top: 2px solid var(--color-default);
      border-left: 2px solid var(--color-default);
    }

    .news-slider__nav:hover {
      cursor: pointer;
      background-color: var(--color-primary-light-hovered);
      transition: background-color 0.2s ease-in;
    }
  }
.news-slider__nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
@media (min-width: 769px) {
.news-slider__nav-wrapper {
    margin-top: 0;
    display: block
}
  }
.news-slider__nav_prev::after {
    transform: rotate(-45deg);
  }
@media (min-width: 769px) {
.news-slider__nav_prev {
    padding-right: 0;
    left: -98px
}
  }
.news-slider__nav_next::after {
    transform: rotate(135deg);
  }
@media (min-width: 769px) {
.news-slider__nav_next {
    right: -98px
}
  }
.news-slider__nav_disabled {
  display: none;
}
.news-slider__pagination {
  display: flex;
  width: 34px;
  color: var(--color-primary);
  font-size: var(--font-size-text-xl);
  font-family: var(--font-family-futura);
  margin: 0;
}
.news-slider__pagination_disable {
    display: none;
  }
@media (min-width: 769px) {
.news-slider__pagination {
    display: none
}
  }
.news-slider__pagination .swiper-pagination-current {
  font-weight: 900;
  color: var(--color-default);
  padding-right: 2px;
}
.news-slider__pagination .swiper-pagination-total {
  font-weight: 600;
}
.news-slider__preloader {
  top: calc(50% - 25px + 50px);
  left: calc(50% - 25px);
  z-index: 100;
}
.news-slider__preloader::after {
    width: 50px;
    height: 50px;
  }
.news-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
@media (min-width: 769px) {
.news-card {
    width: 300px;
    min-height: 260px
}
  }
.news-card__img-wrap {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 0;
  margin-bottom: 9px;
  padding-bottom: 74.63%;
  overflow: hidden;
}
@media (min-width: 769px) {
.news-card__img-wrap {
    margin-bottom: 18px;
    padding-bottom: 0;
    width: 300px;
    height: 225px
}
  }
.news-card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.2s ease-in;
}
.news-card__img_no-photo {
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    object-fit: unset;
  }
.news-card:hover .news-card__img,
.news-card:focus .news-card__img {
  transform: scale(1.07);
  transition: transform 0.2s ease-out;
}
.news-card__title {
  color: var(--color-default);
  font-weight: 600;
  font-size: var(--font-size-text-s);
  line-height: var(--line-height-s);
  margin-top: 0;
  margin-bottom: 3px;
  transform: translateZ(0);
}
@media (min-width: 769px) {
.news-card__title {
    margin-bottom: 6px;
    font-size: var(--font-size-text-m)
}
  }
.news-card__date {
  display: block;
  color: var(--color-primary-dark);
  font-weight: 600;
  font-size: var(--font-size-text-s);
  line-height: var(--line-height-s);
  transform: translateZ(0);
}
@media (min-width: 769px) {
.news-card__date {
    font-size: var(--font-size-text-m)
}
  }
.news-card__img-container {
  display: block;
}
.news-card__preloader {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.news-card__preloader::after {
    width: 50px;
    height: 50px;
  }
.news-card__img-container:not(.lazy-finish) + .news-card__preloader {
  display: block;
}

/*# sourceMappingURL=index.css.map*/