/* Article */

.news-list {
  grid-column: 2 / -2;
  padding: 0 20px;
  margin-bottom: 52px;
}

@media (min-width: 769px) {

.news-list {
    grid-column: 4 / -4;
    padding: 0;
    margin-bottom: 90px
}
  }

.news-list__header {
  position: relative;
}

@media (min-width: 769px) {

.news-list__header {
    display: flex;
    align-items: center;
    width: 100%
}
  }

.new-list__header-wrapper {
  display: flex;
  align-items: flex-start;
}

.news-list__tablist {
  display: flex;
  margin-bottom: 28px;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

@media (min-width: 769px) {

.news-list__tablist {
    margin-left: auto;
    margin-bottom: 0
}
  }

.news-list__tabitem {
  display: flex;
  margin-right: 40px;
}

.news-list__tabitem:last-child {
    margin-right: 0;
  }

@media (min-width: 769px) {

.news-list__tabitem {
    margin-right: 50px
}
  }

.news-list__btn {
  border: none;
  background-color: var(--color-transparent);
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 600;
  font-size: var(--font-size-text);
  color: var(--color-primary-dark);
  font-family: var(--font-family-futura);
}

@media (min-width: 769px) {

.news-list__btn {
    font-size: var(--font-size-text-m)
}

    .news-list__btn:hover,
    .news-list__btn.focus-visible:focus {
      cursor: pointer;
      color: var(--color-default);
      transition: color 0.2s ease-in;
    }
  }

.news-list__btn_active {
  color: var(--color-default);
  position: relative;
}

.news-list__btn_active::after {
    content: '';
    display: block;
    position: absolute;
    width: 11px;
    height: 2px;
    background-color: var(--color-default);
    bottom: -5px;
    left: 0;
  }

@media (min-width: 769px) {
    .news-list__btn_active::after {
      content: '';
      bottom: -4px;
    }
  }

.news-list__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  align-self: flex-start;
}

.news-list__wrapper_empty {
    font-size: var(--font-size-text-l);
    font-weight: 900;
    text-align: center;
  }

@media (min-width: 769px) {

.news-list__wrapper {
    margin-top: 65px
}
  }

.news-list__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: 769px) {

.news-list__list {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-column-gap: 50px;
    grid-row-gap: 44px
}
  }

.news-list__link {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.news-list__title {
  margin: 0 0 30px;
  font-size: var(--font-size-title-l);
  font-weight: 900;
}

@media (min-width: 769px) {

.news-list__title {
    margin-bottom: 0
}
  }

.news-list__pagination {
  margin-top: 50px;
  padding-bottom: 0;
}

@media (min-width: 769px) {

.news-list__pagination {
    margin-top: 77px
}
  }

.news-list__preloader {
  position: static;
  margin-left: 20px;
  margin-top: 5px;
}

.news-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

@media (min-width: 769px) {

.news-card {
    width: 300px;
    min-height: 260px
}
  }

.news-card__img-wrap {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 0;
  margin-bottom: 9px;
  padding-bottom: 74.63%;
  overflow: hidden;
}

@media (min-width: 769px) {

.news-card__img-wrap {
    margin-bottom: 18px;
    padding-bottom: 0;
    width: 300px;
    height: 225px
}
  }

.news-card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.2s ease-in;
}

.news-card__img_no-photo {
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    object-fit: unset;
  }

.news-card:hover .news-card__img,
.news-card:focus .news-card__img {
  transform: scale(1.07);
  transition: transform 0.2s ease-out;
}

.news-card__title {
  color: var(--color-default);
  font-weight: 600;
  font-size: var(--font-size-text-s);
  line-height: var(--line-height-s);
  margin-top: 0;
  margin-bottom: 3px;
  transform: translateZ(0);
}

@media (min-width: 769px) {

.news-card__title {
    margin-bottom: 6px;
    font-size: var(--font-size-text-m)
}
  }

.news-card__date {
  display: block;
  color: var(--color-primary-dark);
  font-weight: 600;
  font-size: var(--font-size-text-s);
  line-height: var(--line-height-s);
  transform: translateZ(0);
}

@media (min-width: 769px) {

.news-card__date {
    font-size: var(--font-size-text-m)
}
  }

.news-card__img-container {
  display: block;
}

.news-card__preloader {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.news-card__preloader::after {
    width: 50px;
    height: 50px;
  }

.news-card__img-container:not(.lazy-finish) + .news-card__preloader {
  display: block;
}

/* Navigation */

.pagination {
  grid-column: 2 / -2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 55px;
}

@media (min-width: 769px) {

.pagination {
    grid-column: 4 / -4;
    padding: 0 0 90px
}
  }

.pagination__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination__item {
  margin-right: 24px;
}

.pagination__item:last-child {
    margin-right: 0;
  }

@media (min-width: 769px) {

.pagination__item {
    margin-right: 30px
}
  }

.pagination__link {
  font-size: var(--font-size-text-m);
  color: var(--color-primary-dark);
  opacity: 0.5;
  text-decoration: none;
  font-weight: 600;
}

.pagination__link:hover,
  .pagination__link.focus-visible:focus {
    color: var(--color-default);
    opacity: 1;
    transition: 0.2s ease-out;
  }

.pagination__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 20px;
  margin-left: 30px;
}

@media (min-width: 769px) {

.pagination__btn {
    width: 25px;
    margin-left: 40px
}
  }

.pagination__btn_prev {
  margin-left: 0;
  margin-right: 30px;
  transform: rotate(180deg);
}

@media (min-width: 769px) {

.pagination__btn_prev {
    margin-right: 40px
}
  }

.pagination__icon {
  opacity: 0.45;
}

.pagination__btn:hover > .pagination__icon,
.pagination__btn:focus > .pagination__icon {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.pagination__link_current {
  opacity: 1;
  color: var(--color-default);
  border-bottom: 2px solid var(--color-default);
}

/*# sourceMappingURL=news-list.css.map*/