<ul style="list-style-type: none; margin-right: 20px;" class="lang-lang">
    <li>
        <a href="https://ru.victoriaivankovich.com" class="header-nav__link ">RU</a>
    </li>
    <li>
        <a href="https://en.victoriaivankovich.com" class="header-nav__link ">EN</a>
    </li>
</ul>

<style>
	@media (max-width: 450px) {
		.lang-lang {
			display: none;
		}
		.lang-lang-menu{
			display: block;
		}
	}
	@media (min-width: 450px) {
		.lang-lang {
			display: block;
		}
		.lang-lang-menu{
			display: none;
		}
	}
</style>