.filter-checked {
  display: none;

  @media (width > 768px) {
    display: flex;
    align-items: center;
  }
}

.filter-checked__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-checked__item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  min-height: 37px;
  max-height: 37px;
  background-color: var(--color-primary-light);
  padding-left: 17px;
  padding-right: 13px;

  &:last-child {
    margin-right: 33px;
  }
}

.filter-checked__value {
  font-size: var(--font-size-text-m);
  color: var(--color-default);
  font-weight: 600;

  @media (width > 768px) {
    margin-right: 5px;
  }
}

.filter-checked__remove {
  border: none;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  opacity: 0.5;
  background-color: var(--color-transparent);
  background-image: url('/themes/lovata-shopaholic-sneakers/assets/img/icon/close.svg');
  background-size: 9px 9px;
  background-position: center;
  background-repeat: no-repeat;

  &:hover,
  &.focus-visible:focus {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }
}

.filter-checked__reset {
  margin-left: auto;
  font-size: var(--font-size-text-m);
  font-weight: 600;
  padding: 0;
  border: none;
  background-color: var(--color-transparent);
  opacity: 0.5;
  width: auto;
  border-bottom: 2px dashed var(--color-primary-dark);

  @media (width > 768px) {
    &:hover,
    &.focus-visible:focus {
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }
  }
}
