.filter-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;

  @media (width > 768px) {
    justify-content: flex-start;
    padding-top: 38px;
  }
}

.filter-bar__filter-btn-wrapper {
  display: flex;
  align-items: center;
}

.filter-bar__filter-btn {
  border: none;
  background-color: var(--color-white);
  padding-left: 23px;
  background-image: url('/themes/lovata-shopaholic-sneakers/assets/img/icon/filter.svg');
  background-size: 15px 13px;
  background-position: left center;
  background-repeat: no-repeat;

  @media (width > 768px) {
    display: none;
  }
}

.filter-bar__sort {
  margin-right: 57px;
}
