{% set sFacebookURL = this.theme.social_networks_facebook %}
{% set sTwitterURL = this.theme.social_networks_twitter %}
{% set sInstagramURL = this.theme.social_networks_instagram %}
{% set sTelegramURL = this.theme.social_networks_telegram %}

{% if sFacebookURL is not empty or sTwitterURL is not empty or sInstagramURL is not empty or sTelegramURL is not empty %}
    <ul class="footer-social">
        {% if sFacebookURL is not empty %}
            <li class="footer-social__item">
                <a href="{{ sFacebookURL }}" class="footer-social__link" rel="noopener" target="_blank" >
                    <img class="footer-social__img" src="{{ 'assets/img/icon/facebook.svg'|theme }}" alt="Facebook">
                </a>
            </li>
        {% endif %}
        {% if sTwitterURL is not empty %}
            <li class="footer-social__item">
                <a href="{{ sTwitterURL }}" class="footer-social__link" rel="noopener" target="_blank">
                    <img class="footer-social__img" src="{{ 'assets/img/icon/twitter.svg'|theme }}" alt="Twitter">
                </a>
            </li>
        {% endif %}
        {% if sInstagramURL is not empty %}
            <li class="footer-social__item">
                <a href="{{ sInstagramURL }}" class="footer-social__link" rel="noopener" target="_blank">
                    <img class="footer-social__img" src="{{ 'assets/img/icon/instagram.svg'|theme }}" alt="Instagram">
                </a>
            </li>
        {% endif %}
        {% if sTelegramURL is not empty %}
            <li class="footer-social__item">
                <a href="{{ sTelegramURL }}" class="footer-social__link" rel="noopener" target="_blank">
                    <img class="footer-social__img" src="{{ 'assets/img/icon/telegram.svg'|theme }}" alt="Telegram">
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
