.filter {
  display: none;

  @media (width > 768px) {
    box-sizing: border-box;
    display: block;
  }
}

@keyframes drawer {
  from {
    left: -110%;
  }

  to {
    left: 0;
  }
}

.filter_open {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 288px;
  background-color: var(--color-white);
  animation-name: drawer;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 100;
}

.filter__header {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 45px;
  margin-bottom: 0;
  background-color: var(--color-primary-light);
  overflow: hidden;
  text-overflow: ellipsis;

  @media (width > 768px) {
    display: none;
  }
}

.filter__btn-close {
  position: absolute;
  top: 35px;
  right: 37px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: var(--color-transparent);
  background-image: url('/themes/lovata-shopaholic-sneakers/assets/img/icon/close.svg');
  background-size: 11px 11px;
  background-position: center;
  background-repeat: no-repeat;

  @media (width > 768px) {
    display: none;
  }
}

.filter__wrapper {
  box-sizing: border-box;
  overflow: auto;

  @media (width > 768px) {
    overflow: visible;
    margin-top: 85px;
  }
}

.filter__form {
  box-sizing: border-box;

  @media (width > 768px) {
    max-height: none;
    padding: 0 4px;
  }
}

.filter__form-label {
  width: 1px;
  height: 1px;
  margin-left: -1px;
  display: block;
  position: absolute;
  overflow: hidden;
}

.filter__form-wrapper {
  box-sizing: border-box;
  max-height: calc(100vh - 86px - 60px);
  padding: 25px 45px 65px;
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* eslint-disable-lines */

  @media (width > 768px) {
    max-height: none;
    overflow: visible;
    padding: 0;
  }
}

.filter__group {
  margin-bottom: 38px;

  @media (width > 768px) {
    margin-bottom: 43px;
  }
}

.filter__group > .filter__radio {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filter__checkbox {
  display: flex;
  align-items: center;
}

.filter__group > .filter__checkbox {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filter__group-legend {
  display: block;
  margin-bottom: 26px;
  color: var(--color-default);
  font-size: var(--font-size-text-l);
  font-weight: 600;

  @media (width > 768px) {
    margin-bottom: 30px;
  }
}

.filter__checkbox-hint {
  padding-left: 5px;
  color: var(--color-primary);
  font-size: var(--font-size-text-s);
  font-weight: 600;
}

.filter__reset {
  width: auto;
  padding: 0;
  border: none;
  border-bottom: 2px dashed var(--color-primary-dark);
  font-size: var(--font-size-text-m);
  font-weight: 600;
  background-color: var(--color-transparent);
  opacity: 0.5;

  @media (width > 768px) {
    &:hover,
    &.focus-visible:focus {
      transition: opacity 0.2s ease-out;
      cursor: pointer;
      opacity: 1;
    }
  }
}

.filter__btn-section {
  box-sizing: border-box;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 288px;
  padding: 10px 45px;
  border-top: 2px solid var(--color-input);
  background-color: var(--color-white);
  z-index: 20;

  @media (width > 768px) {
    display: none;
  }
}

.filter__submit {
  box-sizing: border-box;
  min-width: 120px;
  margin-right: 25px;
}

.filter__preloader {
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--color-preloader);

  &::after {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
  }
}
