.subscribe {
  grid-column: 1 / -1;
  padding: 0 20px 52px;

  @media (width > 768px) {
    display: grid;
    grid-column: 4 / -4;
    grid-template-areas:
      'title title'
      'descr form';
    grid-template-columns: 270px 450px;
    grid-column-gap: 80px;
    padding: 0 0 108px;
  }
}

.section-title.subscribe__title {

  @media (width > 768px) {
    grid-area: title;
    margin-bottom: 67px;
  }
}

.subscribe__descr {
  margin: 0 0 20px;
  color: var(--color-primary-dark);
  line-height: var(--line-height-normal);
  font-size: var(--font-size-text-m);
  text-align: left;

  @media (width > 768px) {
    grid-area: descr;
    margin: 0;
  }
}

.subscribe__form {
  position: relative;

  @media (width > 768px) {
    padding-top: 6px;
    display: flex;
    align-items: flex-start;
    grid-area: form;
  }
}

.subscribe__input {
  width: 100%;
  margin-bottom: 20px;

  @media (width > 768px) {
    flex-basis: 280px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.subscribe__submit {
  width: 100%;

  @media (width > 768px) {
    flex-basis: 150px;
  }
}

.subscribe-form__error {

  @media (width > 768px) {
    position: absolute;
    top: 100%;
  }
}

.subscribe__success {
  opacity: 0;
  position: absolute;
  bottom: calc(100% + 18px);
  visibility: hidden;
  transition: opacity 0.2s ease-in;

  &_visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-out;
  }
}

.subscribe__preloader {
  left: calc(50% - 15px);
  top: 3px;

  @media (width > 768px) {
    left: calc(140px - 15px);
    top: calc(50% - 15px);
  }
}
