.radio {
  position: relative;
}

.radio__field {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin-left: -1px;
}

.radio__label {
  position: relative;
  font-size: var(--font-size-text-m);
  font-weight: 600;
  color: var(--color-primary-dark);
  padding-left: 25px;

  &:hover,
  &.focus-visible:focus {
    cursor: pointer;
  }

  &::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--color-default);
    border-radius: var(--border-radius-circle);
    opacity: 0.1;
  }

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: var(--border-radius-circle);
    background-color: var(--color-default);
    opacity: 0;
  }
}

.radio__field:focus + .radio__label {
  outline: 2px solid var(--color-outline);
  outline-offset: 2px;
}

.radio__field:checked + .radio__label {
  color: var(--color-default);
  transition: color 0.2s ease-out;

  &::before {
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }

  &::after {
    width: 6px;
    height: 6px;
    opacity: 1;
    transition: 0.2s;
  }
}

.radio__field:disabled + .radio__label {
  color: var(--color-primary);

  &::before {
    opacity: 1;
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }
}

.radio__field:checked:disabled + .radio__label { /* stylelint-disable selector-max-specificity */
  color: var(--color-primary);

  &::before {
    opacity: 1;
    border-color: var(--color-primary);
    background-color: var(--color-transparent);
  }

  &::after {
    width: 6px;
    height: 6px;
    opacity: 1;
    background-color: var(--color-primary);
  }
}
